//- Description no longer than 155 characters
meta(name="description" content="Anonimatta") 
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@ui8")
meta(name="twitter:title" content="Anonimatta") 
meta(name="twitter:description" content="Você nunca viu tanto conteúdo no mesmo lugar")
meta(name="twitter:creator" content="@ui8")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://ui8-unity-gaming.herokuapp.com/img/twitter-card.jpg")
//- Open Graph data
meta(property="og:title" content="Anonimatta")
meta(property="og:type" content="Article")
meta(property="og:url" content="")   
meta(property="og:image" content="https://anonimatta.com.br/wp-content/uploads/2021/03/25d5477f0ba077119feaf1ab42458500.jpg")
meta(property="og:description" content="Você nunca viu tanto conteúdo no mesmo lugar") 
meta(property="og:site_name" content="Anonimatta")  
meta(property="fb:admins" content="")